- Question:- 1

A country is big if:

- it has an area of at least three million (i.e., 3000000 km2), or
- it has a population of at least twenty-five million (i.e., 25000000).

Write a solution to find the name, population, and area of the big countries.

Return the result table in any order.

In [1]:
import pandas as pd

In [2]:
data = [
    ['Afghanistan', 'Asia', 652230, 25500100, 20343000000],
    ['Albania', 'Europe', 28748, 2831741, 12960000000],
    ['Algeria', 'Africa', 2381741, 37100000, 188681000000],
    ['Andorra', 'Europe', 468, 78115, 3712000000],
    ['Angola', 'Africa', 1246700, 20609294, 100990000000]
]

world = pd.DataFrame(
    data,
    columns=['name', 'continent', 'area', 'population', 'gdp']
).astype({
    'name': 'object',
    'continent': 'object',
    'area': 'Int64',
    'population': 'Int64',
    'gdp': 'Int64'
})

In [3]:
world

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

In [4]:
def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    # Filter the DataFrame based on the conditions for big countries
    big_countries_df = world[(world['area'] >= 3000000) | (world['population'] >= 25000000)]
    
    # Select only the required columns: name, population, and area
    result_table = big_countries_df[['name', 'population', 'area']]
    
    return result_table

In [6]:
# # Assuming 'world' is your DataFrame
result = big_countries(world)
print(result)

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

- Question:-2

- Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.

In [8]:
data = [['0', 'Y', 'N'], 
      ['1', 'Y', 'Y'], 
      ['2', 'N', 'Y'], 
      ['3', 'Y', 'Y'], 
      ['4', 'N', 'N']
]

products = pd.DataFrame(
    data, 
    columns=['product_id', 'low_fats', 'recyclable']
).astype({'product_id':'int64', 
          'low_fats':'category', 
          'recyclable':'category'
})

In [9]:
products

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [12]:
def find_products(products: pd.DataFrame) -> pd.DataFrame:
    result_df = products[(products['low_fats'] == 'Y') & (products['recyclable'] == 'Y')]
    return result_df[['product_id']]

## Q3

Write a solution to find all customers who never order anything.

Return the result table in any order.

In [15]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [16]:
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [17]:
orders

   id  customerId
0   1           3
1   2           1

In [ ]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    never_ordered_customers = customers[~customers['id'].isin(orders['customerId'])]
    
    return never_ordered_customers[['id', 'name']]


result_table = find_customers(customers, orders)
print(result_table)

In [24]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    # Select the customers whose 'id' is not present in the orders DataFrame's 'customerId' column.
    df = customers[~customers['id'].isin(orders['customerId'])]

    # Build a DataFrame that only contains the 'name' column and rename it as 'Customers'.
    df = df[['name']].rename(columns={'name': 'Customers'})

    return df

In [25]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    # Select the customers whose 'id' is not present in the orders DataFrame's 'customerId' column.
    df = customers[~customers['id'].isin(orders['customerId'])]

    # Build a DataFrame that only contains the 'name' column and rename it as 'Customers'.
    df = df[['name']].rename(columns={'name': 'Customers'})

    return df

# Assuming you have 'customers' and 'orders' DataFrames
customers_data = {'id': [1, 2, 3, 4],
                  'name': ['Joe', 'Henry', 'Sam', 'Max']}
orders_data = {'id': [1, 2],
               'customerId': [3, 1]}

customers = pd.DataFrame(customers_data)
orders = pd.DataFrame(orders_data)

# Call the function
result_table = find_customers(customers, orders)

# Print the result
result_table

  Customers
1     Henry
3       Max

## Q4:

In [2]:
import pandas as pd
data = [[1, 3, 5, '2019-08-01'], [1, 3, 6, '2019-08-02'], [2, 7, 7, '2019-08-01'], [2, 7, 6, '2019-08-02'], [4, 7, 1, '2019-07-22'], [3, 4, 4, '2019-07-21'], [3, 4, 4, '2019-07-21']]
views = pd.DataFrame(data, columns=['article_id', 'author_id', 'viewer_id', 'view_date']).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})

In [3]:
def article_views(views: pd.DataFrame) -> pd.DataFrame:
    authors_viewed_own_articles = views[views['author_id'] == views['viewer_id']]
    
    # Get unique author_ids from the filtered data
    unique_authors = authors_viewed_own_articles['author_id'].unique()
    
    # Sort the unique author_ids in ascending order
    unique_authors = sorted(unique_authors)
    
    # Create a DataFrame with the sorted unique author_ids and rename the 'author_id' column to 'id'
    result_df = pd.DataFrame({'id': unique_authors})
    
    return result_df

## Q5:

In [4]:
import pandas as pd
data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

In [5]:
def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets[tweets['content'].str.len() > 15][['tweet_id']]

## Q6:

In [6]:
import pandas as pd
data = [[2, 'Meir', 3000], [3, 'Michael', 3800], [7, 'Addilyn', 7400], [8, 'Juan', 6100], [9, 'Kannon', 7700]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'salary']).astype({'employee_id':'int64', 'name':'object', 'salary':'int64'})

In [7]:
def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
        # Create a new column 'bonus' with default value 0
    employees['bonus'] = 0
    
    # Calculate bonus based on the conditions
    employees.loc[(employees['employee_id'] % 2 != 0) & (~employees['name'].str.startswith('M')), 'bonus'] = employees['salary']
    
    # Select only the required columns and sort the result table by employee_id in ascending order
    result_df = employees[['employee_id', 'bonus']].sort_values(by='employee_id', ascending=True)
    
    return result_df

## Q7:

In [8]:
data = [[1, 'aLice'], [2, 'bOB']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})

In [9]:
def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    # Apply the str.capitalize() function to fix the names
    users['name'] = users['name'].str.capitalize()
    
    # Sort the result table by user_id in ascending order
    result_df = users.sort_values(by='user_id', ascending=True)
    
    return result_df